slides/.DS_Store
slides/ligand_based/.DS_Store
slides/ligand_based/.presentation.tex.swp
slides/ligand_based/presentation.aux
slides/ligand_based/presentation.fdb_latexmk
slides/ligand_based/presentation.fls
slides/ligand_based/presentation.log
slides/ligand_based/presentation.nav
slides/ligand_based/presentation.out
slides/ligand_based/presentation.pdf
slides/ligand_based/presentation.snm
slides/ligand_based/presentation.toc