slides/.DS_Store
slides/ligand_based/.DS_Store
slides/ligand_based/.presentation.tex.swp
slides/ligand_based/presentation.aux
slides/ligand_based/presentation.fdb_latexmk
slides/ligand_based/presentation.fls
slides/ligand_based/presentation.log
slides/ligand_based/presentation.nav
slides/ligand_based/presentation.out
slides/ligand_based/presentation.pdf
slides/ligand_based/presentation.snm
slides/ligand_based/presentation.toc

slides/DL_intro/*.aux
slides/DL_intro/*.fdb_latexmake
slides/DL_intro/*.fls
slides/DL_intro/*.log
slides/DL_intro/*.out
slides/DL_intro/*.pdf
slides/DL_intro/*.snm
slides/DL_intro/*.toc
Project/.DS_Store
.DS_Store
Project/chembl_32_sqlite.tar.gz